{% extends "../../base.html" %}
{% load static %}
{% block title %} Your Orders {%endblock%}
{%block content%}

<main class='pt-3'>
    <div class='container style = ' max-width: 1000px>
        <div class='col-12'>
            <h1 class='h2'> Your Wishlist </h1>
        </div>
        <div class='col-12 d-flex justify-content-between'>
            <div>Manage your Wishlist</div>
        </div>
        </hr>
    </div>
    <div class="container">

        {% if not wishlist%}
        <p class="card-text">No products have been added to your wishlist yet</p>
        {%else%}
        {% for product in wishlist  %}

        <div class="card mb-3 rounded-0" id="card{{product.id}}">
            <div class="row g-0">
                <div class="col-md-2">
                    
                    <img class="img-fluid d-block p-2" width="135px" src="{{ product.image.url }}"
                        alt="{{ product.image.alt_text }}" />
                    
                </div>
                <div class="col-md-10">
                    <div class="card-body">
                        <h5 class="card-title">{{product.title}}</h5>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text"><small class="text-muted">${{product.price}}</small></p>
                        <div class="col">
                            <div class="row p-3">
                                <div class="col-6">
                                    <label for="select">Qty</label>
                                    <select id="select{{product.id}}" class="h6 single-select-dropdown">
                                        <option value="">1</option>
                                        <option value="">2</option>
                                        <option value="">3</option>
                                        <option value="">4</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row p-3">

                                <button type="button" class="btn btn-light fw500" id="remove-wishlist-button"
                                    value="{{product.id}}">Remove from Wishlist</button>

                                <button type="button" id="add-basket-button" value="{{product.id}}"
                                    class="btn btn-success fw500">
                                    Add to basket
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% endfor %}

        {% endif %}
    </div>

</main>
<script type="text/javascript" src="{%static 'basket/js/add_to_basket.js'%}">
</script>
<script>
    const add_to_basket_url = "{%url 'basket:basket_add'%}";
    const csrfmiddlewaretoken = "{{csrf_token}}";
    $(document).on('click', '#add-basket-button', function(e){
        const productid = $(this).val();
        const productqty = $("#select" + $(this).val() + " option:selected").text();
        add_to_basket(e, productid, productqty, add_to_basket_url, csrfmiddlewaretoken, increment_basket_count);
    })
    $(document).on('click', '#remove-wishlist-button', function (e) {
      const productid = $(this).val();
      e.preventDefault();

      $.ajax({
        type: 'POST',
        url: '{% url "store:edit_wishlist" %}',
        data: {
          productid: productid,

          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function (jsonReturned) {
            document.getElementById("card"+productid).remove();

        },
        error: function (xhr, errmsg, err) {}
      });
    })
</script>
{%endblock%}