
#refinements-filter {
    padding-left: 1.2rem;
    padding-right: 1.2em
}
.filter-button {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    border-radius: 2px;
    padding: .3rem 1.1rem;
    text-decoration: none
}


.filter-button:active {
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7
}
.filter-button[aria-expanded=true] {
    background-color: #e7e7e7;
    border: 1px solid #e7e7e7
}



.like-button {
  position: absolute;
  top: 2%;
  right: 2%;
  background:white;
  opacity: 50%;
  border-color:black !important;
  border-radius: 30px !important;

}
