{%extends "base.html" %}
<!--so that home.html is an extension of base.html-->
{% load static %}
{% block title%}
{% if category %}{{category.name}} {%else%}Products{%endif%}
{% endblock %}
<!--now you can overwrite any block in base.html-->
{%block stylesheet%}
{% static 'store/css/category.css'%}
{%endblock%}
{% block content %}


<div class="container">
  <header>
    <div class="category-name">
      {% if category is not None%}
      <div class=" h5 d-flex justify-content-center"> {{category.name}} </div>

      {% endif%}
      {% if category.introduction is not None%}
      <div class="pb-3 h7 d-flex justify-content-center"> {{category.introduction}} </div>
      {%endif%}
    </div>
    <div class="row">
      <div class="d-flex justify-content-center pb-3">
        <a class="filter-button" data-bs-toggle="collapse" href="#refinements-filter" role="button"
          aria-expanded="false" aria-controls="refinements-filter">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
          </svg>
          Filter (0)
        </a>
      </div>

      <div class="collapse" id="refinements-filter" data-bs-toggle="collapse" href="#refinements-filter-subjects">
        <span class="d-flex justify-content-center">Subjects</span>

        
        {%if category_children is not None%}
        {% for c in category_children%}
        <div class="collapse" id="refinements-filter-subjects">

          {%if not keyword and not price_range%}
          <a href="{% url 'store:search' %}?category={{c.slug}} "><span
              class="d-flex justify-content-center">{{c.name}}</span></a>
          {%elif not price_range%}
          <a href="{% url 'store:search' %}?category={{c.slug}}&keyword={{keyword}} "><span
              class="d-flex justify-content-center">{{c.name}}</span></a>
          {%else %}
          <a href="{% url 'store:search' %}?category={{c.slug}}&keyword={{keyword}}&price-range={{price_range}} "><span
              class="d-flex justify-content-center">{{c.name}}</span></a>
          {%endif%}
        </div>
        {%endfor%}
        {%endif%}
      </div>
      <div class="collapse " id="refinements-filter" data-bs-toggle="collapse" href="#refinements-filter-prices">
        <span class="d-flex justify-content-center">Prices</span>
        <div class="collapse" id="refinements-filter-prices">

          {%if not keyword and not category%}
          <a href="{% url 'store:search' %}?price-range=1 "><span class="d-flex justify-content-center">Under
              $5</span></a>
          {%elif not keyword%}
          <a href="{% url 'store:search' %}?category={{category.slug}}&price-range=1 "><span
              class="d-flex justify-content-center">Under $5</span></a>
          {%else %}
          <a href="{% url 'store:search' %}?category={{category.slug}}&keyword={{keyword}}&price-range=1 "><span
              class="d-flex justify-content-center">Under $5</span></a>
          {%endif%}
        </div>
        <div class="collapse" id="refinements-filter-prices">
          {%if not keyword and not category%}
          <a href="{% url 'store:search' %}?price-range=2 "><span class="d-flex justify-content-center">$5 -
              $10</span></a>
          {%elif not keyword%}
          <a href="{% url 'store:search' %}?category={{category.slug}}&price-range=2 "><span
              class="d-flex justify-content-center">$5 - $10</span></a>
          {%else %}
          <a href="{% url 'store:search' %}?category={{category.slug}}&keyword={{keyword}}&price-range=2 "><span
              class="d-flex justify-content-center">$5 - $10</span></a>
          {%endif%}
        </div>
        <div class="collapse" id="refinements-filter-prices">
          {%if not keyword and not category%}
          <a href="{% url 'store:search' %}?price-range=3 "><span class="d-flex justify-content-center">$10 -
              $25</span></a>
          {%elif not keyword%}
          <a href="{% url 'store:search' %}?category={{category.slug}}&price-range=3 "><span
              class="d-flex justify-content-center">$10 - $25</span></a>
          {%else %}
          <a href="{% url 'store:search' %}?category={{category.slug}}&keyword={{keyword}}&price-range=3 "><span
              class="d-flex justify-content-center">$10 - $25</span></a>
          {%endif%}
        </div>
        <div class="collapse" id="refinements-filter-prices">
          {%if not keyword and not category%}
          <a href="{% url 'store:search' %}?price-range=4 "><span
              class="d-flex justify-content-center">$25-$50</span></a>
          {%elif not keyword%}
          <a href="{% url 'store:search' %}?category={{category.slug}}&price-range=4 "><span
              class="d-flex justify-content-center">$25-$50</span></a>
          {%else %}
          <a href="{% url 'store:search' %}?category={{category.slug}}&keyword={{keyword}}&price-range=4 "><span
              class="d-flex justify-content-center">$25-$50</span></a>
          {%endif%}
        </div>
        <div class="collapse" id="refinements-filter-prices">
          {%if not keyword and not category%}
          <a href="{% url 'store:search' %}?price-range=5 "><span class="d-flex justify-content-center">Over
              %50</span></a>
          {%elif not keyword%}
          <a href="{% url 'store:search' %}?category={{category.slug}}&price-range=5"><span
              class="d-flex justify-content-center">Over %50</span></a>
          {%else %}
          <a href="{% url 'store:search' %}?category={{category.slug}}&keyword={{keyword}}&price-range=5"><span
              class="d-flex justify-content-center">Over %50</span></a>
          {%endif%}
        </div>
      </div>
      <div class="collapse justify-content-center" id="refinements-filter">
        <span class="d-flex justify-content-center">Ages</span>
      </div>

      {%if keyword is not None%}
      <div>
        Showing {{products|length}} results for <strong>{{keyword}}</strong>
      </div>
      {%endif%}
      <hr>

  </header>

  {% if not products %}
  <div class='col-12'>There are currently no products active. Go back to <a href="{% url 'store:store_home' %}">Home</a>
  </div>
  {% else%}
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for product in products %}
    <div class="col">
      <div class="card shadow-sm">
        <img class="img-fluid" alt="Responsive image" src="{{product.image.url}}">
        <div class="card-body">
          <p class="card-text">
            <a class=text-dark text-decoration-none href="{{product.get_absolute_url}}">{{product.title}}</a>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            {%if product.author != ""%}
            <small class="text-muted">by <a href="">{{product.author}}</a></small>
            {%elif product.compiler != ""%}
            <small class="text-muted">by <a href="">{{product.compiler}}</a></small>
            {%endif%}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {%endif%}
</div>

{% endblock %}