{% extends "../base.html" %}
{% load static %}
{% block title %}Payment Successful{%endblock %}
{% block content %}
<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: none;
    }
</style>
<div class="container">
    <div class="col-12">
        <h1 class="h2">Payment Successful</h1>
    </div>
    <div class="col-12">
        <p>Order Summary</p>
        <div class="row row-cols-4">
            <div class="col-6 col-md fs15">Product Infomation
            </div>
            <div class="col-6 col-md fs15">
            </div>
            <div class="col-6 col-md fs15">Quantity
            </div>
            <div class="col-6 col-md fs15">Price
            </div>
        </div>
        <hr>
        {% for item in order.items.all %}
        <div class="card mb-3 border-0">

            <div class="row  row-cols-4">
                <div class="col-sm d-none d-md-block">
                    <img class="img-fluid" alt="Responsive image" src="{{ item.product.image.url }}"
                        alt="{{ item.product.image.alt_text }}">
                </div>

                <div class="col-6 col-md fs15">
                    <a class="text-decoration-none" href="{{ item.product.get_absolute_url }}">
                        <p class="card-text small">{{item.product|title}}</p>
                    </a>
                </div>
                <div class="col-6 col-md fs15">{{item.quantity}}
                </div>
                <div class="col-6 col-md fs15">${{item.price}}
                </div>
            </div>
        </div>
        {% endfor %}
        <hr>
        <div class="row row-cols-4">
            <div class="col-6 col-md fs15">Total Paid
            </div>
            <div class="col-6 col-md fs15">
            </div>
            <div class="col-6 col-md fs15">
            </div>
            <div class="col-6 col-md fs15">${{order.total_paid}}
            </div>
        </div>
        <div class="row row-cols-4">
            <div class="col-6 col-md fs15">Delivery Address
            </div>
            <div class="col-6 col-md fs15">
            </div>
            <div class="col-6 col-md fs15">
            </div>
            <div class="col-6 col-md fs15">
                <div class="col col-rows-7">
                    <div class="row-6">{{order.full_name}}</div>
                    <div class="row-6">{{order.phone}}</div>
                    <div class="row-6">{{order.address1}} {{order.address2}}</div>
                    <div class="row-6">{{order.city}}</div>
                    <div class="row-6">{{order.postal_code}}</div>
                    <div class="row-6">{{order.country_code}}</div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="col-12">
        <p>View all <a href="{%url "account:user_orders" %}">orders</a></p>
    </div>
</div>



{% endblock %}